<% include partials/header %>

<div class="container">

    <h1>Sorry, but this page is not found.</h1>
    <h1>You should go home and rethink your life.</h1>
    
    <figure>
        <figcaption>Maybe this doggie will cheer your up!</figcaption>
        <img src="http://www.pets4homes.co.uk/images/breeds/377/large/4f48501e401767a114eb2988e174b9ec.jpg">
    </figure>

</div>

<% include partials/footer %>